<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SystemVet.My.MySettings.ProjetoSenacConnectionString"
            connectionString="Dsn=SYSTEMVET" providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v2.0.50727" sku="Client"/></startup>
</configuration>
